[Unit]
Description=Run RoboMaster Nav Healthcheck periodically

[Timer]
OnBootSec=60
OnUnitActiveSec=20
Unit=robot_nav_healthcheck.service

[Install]
WantedBy=timers.target
